/* SignInLink.css */
.sign-in-link {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .sign-in-link:hover {
    text-decoration: underline;
  }