@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Instrument Sans", sans-serif;
}


.title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 2rem;
}

.study {
  font-weight: 200;
}

.table {
  font-weight: 700;
}


.parent-container {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
  
  }

.hero-container {
  display: flex;
  margin-top: 4rem;
}

.left-of-hero{
    flex: 1;
   
}
.right-of-hero{
    flex: 1;
    
}
.hero-title {
    color: gray;
    font-size: 3rem;
  }
  
  .hero-title .optimize,
  .hero-title .jee,
  .hero-title .neet,
  .hero-title .boards {
    color: black;
  }
  



.hero-buttons{
    margin-top: 2rem;
}



.hero-description {
    margin-top: 1rem;
    color: gray;
}